@charset "utf-8";
/* ====================
--------------------------------------------------------------
	++++General Styles++++
	++++Typography++++
	++++Content Styles++++
	++++Navigation++++
	++++Intro++++
	++++About++++
	++++Services++++
	++++Portfolio++++
	++++Ajax content++++
	++++Subscribe++++
	++++Resume++++
	++++Testimonials++++
	++++Contacts++++
	++++Footer++++
	++++Single page++++
	++++Blog++++
	++++Media++++
*/

/* ====================
General Style
--------------------------------------------------------------*/

html{
	overflow-x:hidden !important;
	height:100%;
}
body{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #000;
	background:#A6A6A6;
	height:100%;
	text-align:center;
}
.clear{
	clear:both;float:none;
}
@-o-viewport {
	width: device-width;
}
@-ms-viewport {
	width: device-width;
}
@viewport {
	width: device-width;
}

/* ====================
Typography
--------------------------------------------------------------*/
h1 {
	font-size: 4.2em;
	letter-spacing: 0.10em;
	font-weight: 300;
	color: #fff;
}
h2 {
	font-size: 4.2em;
	letter-spacing: 0.10em;
	font-weight: 300;
	color: #fff;
}
h3 {
	font-size: 1em;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	font-weight: 200;
}
h4 {
	font-size: 0.9em;
	text-transform: uppercase;
	font-weight: 200;	
}
h5 {
	font-size: 0.8em;
	font-weight: 200;
}
h6 {
	font-size: 0.6em;
	text-transform: uppercase;
	font-weight: 200;
}
.title{
	position: relative;
	font-size: 23px;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: .0015em;
	text-transform: uppercase;
	text-align: center;	
	padding-top:50px;
}

/* =====
page preload
--------------------*/

#jpreOverlay {
	background-color: #fff;
}

#jpreLoader{
	width:600px;
	height:100px;
	position:relative;
	z-index:1;
	margin:0 auto;
}
#jpreBar {
	background:#292929;
	position:fixed;
	width:100%;
	height:2px !important;
	top:0;
	left:0;
}
#jprePercentage {
    font-family: "Times New Roman", Times, serif; font-style: italic;
    color: #424242;
    font-size: 18px;
}

/* ====================
Content Styles
--------------------------------------------------------------*/

#main{
	opacity:0;
	height:100%;
}
.wrapper{ 
	height:100%; 
	margin-left:0;
	vertical-align:top; 
	position: absolute; 
	left:0; 
	top:0; 
	right:0;
	z-index:2;
	height:100%;  
}
.container{
	max-width: 1200px;
	width:92%;
	margin:20px auto;
	position: relative;
	zoom:1;
	z-index:2;
}
.container p{
	font-size:1.1em;
	max-width:1000px;
	color: #666;
	line-height: 1.8em;
	padding:10px;
	font-weight:300;
	margin:0 auto;
}
.container p.white, .white, #clientsay p{
	color:#fff !important;
	opacity:1 !important;  
}
.small-separator{
	width:50px;
	height:3px;
	background:#ccc;
	margin:20px auto;
}
#intro, .sections{
	width: 100%;
	float:left;
}
.bg{
	background-size: cover;
	background-attachment: fixed;
	background-position: top;
	background-repeat: no-repeat;
}
.content {
	float:left;
	width:100%;
	position:relative;
}
.ws{
	background:#fff !important;
}
.sections{
	background:#fff;
}
::selection {
	background: #ccc; 
	color:#fff;
}
::-moz-selection {
	background: #ccc;
	color:#fff;
}

/* =====
overlays  - responsive iamges
--------------------*/

.overlay, .raster{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0.8;
	background:#292929;
	z-index:1;
}
.raster{
	opacity:0.6;
}
.respimg{
	width:100%;
	height:auto;
}
.nobg{
	background-image:none !important;
	background:none !important;
	z-index:2;
}
/* ====================
Color-styles
--------------------------------------------------------------*/
.nav-button span, .subscriptionForm input#submitButton:hover, #team-carusel .item h3 span, .submit_btn, .gold-separator, .tagcloud a , .controls button , .slides-pagination a.current{
	background:#C7BCA0;
}
.inner a:hover , .inner li.current a, .start:hover, .row-services a i, #options li.actcat, #options li:hover, #closeProject a, #ajaxpage  a.lanch-project, .project-category, .subcribe h3, .order-block h3, .subcribe h3 , .contact-details ul li i, .share-options a:hover, .search-submit , .blog-pagination a.cur-page, .blog-pagination a:hover , #comments-title, #comments h4 a, #reply-title, .control-group label, .accordion .accordion-title span i{
	color:#C7BCA0;
}
.scroll-to-work:hover, .single-portfolio-link:hover, .download-resume-button:hover{
	color:#C7BCA0;
	border:4px solid #C7BCA0;
}
.row-services a.act-ser i {
	border:4px solid #C7BCA0;
}
.project-block h3{
	border-bottom:2px solid #C7BCA0;
}
.order-block a:hover , .hobby i {
	color:#C7BCA0;
	border:4px solid #C7BCA0;
}
#contact_form textarea:focus, #contact_form input:focus {
	border:2px solid #C7BCA0;
}
.social-list ul li a:hover{
	color:#C7BCA0;
	border:2px solid #C7BCA0;
}
.post-body a{
	color: #C7BCA0!important;
}
.comment-body{ 
	border-top: 2px solid #C7BCA0; 
}
.photo-holder{
	border-bottom:6px solid #C7BCA0 !important;
}

/* ====================
Navigation
--------------------------------------------------------------*/

.navigation{
	float:left;
	position:relative;
	height: 100px;
	z-index: 100;
	width: 100%;
	background: #212121;
	border-bottom: 1px solid #101011;
}
.nav-button{
	width:46px;
	height:36px;
	position:absolute;
	top:10px;
	right:30px;
	cursor:pointer;
	padding:4px;
	display:none;
	z-index:3;
	color: white;
}
.nav-button span{
	width:100%;
	height:4px;
	float:left;
	margin-bottom:6px;
}
.inner{
	margin:0 auto;
	max-width:1000px;
	position:relative;
	z-index:2;
}
.link-holder {
	margin-left: 300px;
	margin-top: 15px;
	float:left;
	position:relative;
	z-index:2;
}
.inner ul {
	margin:10px 20px 0 0;
}
.inner ul li {
	display:inline-block;
	position:relative;
}
.inner a{
	float:right;
	font-size: 18px;
	padding: 10px 10px;
	text-transform: lowercase;
	color: #fff;
	position:relative;
	line-height: 30px;
	letter-spacing: .115em;
	font-family: "Times New Roman", Times, serif; font-style: italic;
}
.inner a:hover , .inner li.current a{
	-webkit-transition: color 0.33s linear;
	-moz-transition: color 0.33s linear;
	-o-transition: color 0.33s linear;
	transition: color 0.33s linear;
}
.inner a.logo{
	position:absolute;
	top:0;
	left:0;
	display:block;
}

/* ====================
Intro
--------------------------------------------------------------*/

#intro{
	height:100%;
	padding: 0;
	color:#fff;
}
#topSlide{
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	position: absolute;
	display:block;
}
.slides-big-img{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	background-attachment:fixed;
	position:absolute;
}
.patern{
	width:40%;
	height:4px;
	background:#fff;
	margin:12px auto;
	display:block;
}
.slides-container .container{
	top:25%;
}
.slides-container h1 {
	margin-bottom:20px;
	letter-spacing: 0.01em;
	font-family: 'Montserrat', sans-serif;
	text-transform:uppercase;
}
.start{
	position:absolute;
	bottom:150px;
	left:50%;
	margin-left:-15px;
	z-index:20;
	font-size:54px;
	color:#fff;
}
/* ====================
About
--------------------------------------------------------------*/

#about{
	padding:110px 0 150px;
	position:relative;
	background: #BABCBF;
}
#about p {
	margin-bottom:50px;
}
.scroll-to-work, .single-portfolio-link, .download-resume-button{
	padding:15px 60px;
	border:4px solid #ddd;
	font-size: 16px;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: .0015em;
	color:#666;
	font-family: "Times New Roman", Times, serif; font-style: italic;
}
.scroll-to-work:hover, .single-portfolio-link:hover, .download-resume-button:hover{
	background:#fff;
}

/* ====================
Services
--------------------------------------------------------------*/

#services .content{
	padding:90px 0;
	background:#F0F0F0;
}
.row-services{
	margin-top:90px;
}
.row-services a {
	display:inline-block;
	width:320px;
	padding:0 20px;
	margin-bottom:10px;
}
.row-services a i{
	font-size:54px;
	color:#C7BCA0;
	width:120px;
	height:120px;
	line-height:120px;
	border-radius:100%;
	border:4px solid #F0F0F0;
	cursor:pointer;
}
.row-services a.act-ser i {
	background:#fff;
}
.services-name{
	float:left;
	position: relative;
	font-size: 16px;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: .0015em;
	text-align: center;	
	padding-top:20px;
	width:100%;
}
.services-text{
	margin-top:20px;
	float:left;
	width:100%;
	color: #666;
	font-size:13px;
}

/* ====================
Portfolio
--------------------------------------------------------------*/

#portfolio .content{
	padding:90px 0;
	background:#292929;
}
#folio_container{
	position:relative;
	z-index:3;
	margin:0 auto;
	max-width:1200px;
}
.aih{
	width:100%;
	float:left;
	padding:20px 0 90px;
}
#folio_container .mix { 
	opacity: 0;
	display: none;
}
#options{
	width:100%;
	text-align:center;
	position:relative;
	z-index:12;
	padding:2px 0; 
}
#options ul {
	position:relative;
	margin:0 auto 10px;
}
#options li{
	display:inline-block;
	margin-bottom:5px;
   	font-family: "Times New Roman", Times, serif; font-style: italic;
    color: #fff;
    font-size: 18px;
	text-transform:lowercase;
	padding:6px 10px;
	cursor:pointer;	
	position:relative;
}
.box {
	padding: 0;
	text-align:center;
	margin: 1.315151515152%;	
}
.box  a{
	float:left;
	position:relative;
	width:100%;
	height:100%;
	display:block;
	color:#000;
	background:#fff;
}
.box a img{
	position:relative;
	z-index:1;
	float:left;
}
.folio-overlay{
	position:absolute;
	width:90%;
	height:90%;
	top:5%;
	left:5%;
	opacity:0.6;
	background:#fff url(../images/pl.png) no-repeat center;
	z-index:2;
	display:none;
}
.box  a div.folio-name {
	float:left;
	position: relative;
	width: 100%;
	padding:50px 0;	
}
.box  a div.folio-icon{
	position:absolute;
	top:0;
	left:50%;
	width:50px;
	height:50px;
	padding:0 !important;
	margin-left:-25px;
	background:#fff;
	border-radius:100%;
	color:#ccc;
	margin-top:-20px;
	z-index:2;
	border-bottom:1px solid #ccc;
}
.box  a div.folio-icon i {
	margin-top:18px;
}
.box  a h4{
	width:100%;
	text-transform:uppercase;
	font-size:18px;
	font-weight:500;
}
.box  a h6{
	width:100%;
	margin-top:6px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	font-size: 13px;
	text-transform:lowercase;
}

/* ====================
ajax content
--------------------------------------------------------------*/

#project-navigation {
	width: 100%;
	height: 48px;
	position:absolute;
	top:50%;
	left:0;
	margin-top:-24px;
}
#project-navigation ul {
	padding: 0;
	display: none;
}
#project-navigation ul li a{
	width:20px;
	height:48px;
	font-size:56px;
	color:#fff;
}
#project-navigation ul li#prevProject a {
	float:left;
	margin-left:15px;
}
#project-navigation ul li#nextProject a {
	float:right;
	margin-right:15px;
}
#project-navigation ul li a {
	float: left;
}
#project-navigation ul li a.disabled, #project-navigation ul li a.disabled:hover {
	opacity:0;
}
#closeProject {
	max-width:1000px;
	margin:0 auto;
}
#closeProject a{
	margin:0 auto;
	position:relative;
	margin-top:-14px;
	width:100%;
	display: none;
	z-index:1111;
	font-size:24px;
}
#ajax-section {
	position: relative;
	padding: 0;
	width:100%;
}
#ajax-section #loader {
	width: 100px;
	height: 100px;
	display: none;
	position: absolute;
	top:-25px;
	left:100%;
	margin-left:-50px;
	background: url(../images/loader.GIF) no-repeat center;
}
#ajax-content-outer {
	width: 100%;
	overflow: hidden;
	position: relative;
}
#ajax-content-inner {
	float: left;
	width:100%;
	height: 0;
	opacity: 0;
}
#ajaxpage {
	float: left;
	width:100%;
	display: block;
	padding-bottom:20px;
}
#ajaxpage .container {
	max-width:1000px;
	margin:10px auto;
}
.project-media {
	margin-top: 70px;
	margin-bottom: 30px;
	overflow: hidden;
	display: block;
}
.lanch-holder {
	max-width:1000px;
	margin:0 auto;
}
#ajaxpage  a.lanch-project{
	float:left;
	display:block;
	margin-top:10px;
	margin-left:10px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	font-size: 15px;	
}
#ajaxpage  a.lanch-project i {
	margin-left:8px;
	line-height:20px;
	font-size:18px}
#closeProject a:hover, #ajaxpage   a.lanch-project:hover{
	opacity:0.8;
}
.project-description{
	margin-bottom: 30px;
}
.project-block h3{
	margin-left:10px;
	padding-bottom:10px;
	font-size:16px;
	text-align:left;
	color:#fff;
}
.project-block p {
	padding-bottom: 7px;
	color:#fff;
	font-size:13px;
	text-align:left;
}
.project-name{
	font-size:26px;
	color:#fff;
}
.project-category{
	color:#C7BCA0;	
	font-family: "Times New Roman", Times, serif; font-style: italic;
	font-size: 12px;
	margin-bottom:50px;
	text-transform:lowercase;
}

/* ====================
Subcribe
--------------------------------------------------------------*/

.subcribe{
	margin:60px auto;
	position:relative;
	max-width:450px;	
}
.subcribe h3{
   	font-family: "Times New Roman", Times, serif; font-style: italic;
    font-size: 28px;
	margin-bottom:30px;
}
.subcribe div#error,.subcribe div#success{
	display:none;
	width:100%;
	height:50px;
	font-size:14px;
	font-weight:300;
	letter-spacing:1px;
	position:absolute;
	bottom:-60px;
	left:0;
	line-height:40px;
	padding:4px;
	color:#fff;
	display:none;
}
.subcribe fieldset{
	background: none !important;
	position:relative;
	z-index:1;
}
.subscriptionForm input.inputForm{
	width:65%;
	float:left;
	height:60px;
	border:2px solid #fff;
	outline:none;
	background: none;
	padding-left:8px;
	letter-spacing:2px;
	color:#fff;
	font-size:14px;
	font-weight:200;
	line-height:50px;
}
.subscriptionForm input#submitButton{
	border:none;
	width:25%;
	float:left;
	height:60px;
	cursor:pointer;
	margin:0 0 0 2.5%;
	border:2px solid #fff;
	letter-spacing:4px;
	font-size:16px;
	color:#fff;
	font-weight:300;
	background: none ;
	font-family: "Times New Roman", Times, serif; font-style: italic;

}
.subscriptionForm input#submitButton:hover{
	color:#fff;
}
/* ====================
Resume
--------------------------------------------------------------*/

#resume .content{
	background:#F0F0F0;
	padding:90px 0;
}
.my-photo{
	background:#fff !important;
	position:relative;
	z-index:3;
}
.my-photo h3{
	padding-top:130px;
}
.photo-holder{
	width:150px;
	height:150px;
	border:4px solid #fff;
	position:absolute;
	left:50%;
	top:-30px;
	margin-left:-75px;
	border-radius:100%;
	background:#fff;
}
.photo-holder img {
	border-radius:100%;
	width:94%;
	height:94%;
	margin-top:3%;
}
.accordion-title{
	display:block;
	position:relative;
	background:#fff;
	border:2px solid #ccc;
	margin-bottom:10px; 
	text-align:left;
}
.accordion-title h5{
	margin:0;
}
.accordion-title a{
	display:block;
	color:#a4a4a4!important;
	padding:15px 0px 15px 20px;
}
.accordion .accordion-title span{
	position:absolute;
	width:26px;
	height:26px;
	right:20px;
	top:10px; 
	color:#a4a4a4
}
.accordion .accordion-title span i {
	margin-top:8px; 
	font-size:16px;
}
.accordion .accordion-inner{
	display:none;
	padding:10px 10px 30px 10px;
	font-size:0.9em;
	line-height:1.7em;
	color:#a4a4a4;
}
.hobby h4{
	font-weight:bold;
	padding:10px 0;
	font-size:0.9em;
	color:#a4a4a4;
}
.hobby p {
	font-size:0.9em;
	color:#a4a4a4;
}
.hobby i {
	width:50px;
	height:50px;
	background:#fff;
	line-height:46px;
	border-radius:100%;
}
.resume-title{
	float:left;
	position: relative;
	font-size: 16px !important;
	line-height: 30px;
	font-weight: 800;
	letter-spacing: .0015em;
	text-align: center;	
	padding-top:20px !important;
	width:100%;
	margin-bottom:30px;
	color:#292929 !important; 	
}

#download-resume{
	background:#fff;
	padding:50px 0;
	position:relative;
}
#download-resume:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#download-resume:after {
	border-bottom-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
/* ====================
testimonials
--------------------------------------------------------------*/

#testimonials{
	background-image: url(../images/bg/1.jpg);
	position:relative;
}
#testimonials.content{
	padding:50px 0 100px;
}
#testimonials p {
	max-width:800px;
}
.testimonials-slider{
	width:100%;
	position:relative;
	z-index:2;
	color:#fff;
	padding:10px 0;
}
.testimonials-slider p {
	font-size:20px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	padding:8px;
	margin-top:30px;
	color:#fff;
}
.row a {
	display:inline-block;
	width:250px;
	cursor:pointer;
}
.row a.act-test{
	opacity:0.6;
}

/* ====================
Order
--------------------------------------------------------------*/

#order{
	padding:100px 0;
	position:relative;
}
.order-block{
	float:left;
	width:100%;
	position:relative;
}
.order-block h3, .subcribe h3{
	font-family: "Times New Roman", Times, serif; font-style: italic;
	font-weight:300;
	font-size:2.3em;
	margin-bottom:40px;
	text-transform:none;	
}
#order:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#order:after {
	border-bottom-color: #fff;
	border-width: 30px;
	margin-left: -30px;
}
.order-block a {
	padding:15px 60px;
	border:4px solid #ddd;
	font-size: 16px;
	line-height: 30px;
	font-weight: 800;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	letter-spacing: .0015em;
	color:#666;
}
.order-block a:hover{
	background:#fff;
}

/* ====================
Contacts
--------------------------------------------------------------*/

#contacts{
	background:url(../images/bg/1.jpg);
	background-attachment:fixed;
	background-repeat: no-repeat;
	color:#fff;
	position:relative;
}
.contact-details{
	margin:50px  auto ;
}
.contact-details h3 {
	float:left;
	padding:0 10px 10px 0;
	border-bottom:2px solid #fff;}
.contact-form{
	margin:0 auto;
	max-width:800px;
}
.contact-details ul {
	float:left;
	margin-top:40px;
}
.contact-details ul li {
	width:100%;
	margin-bottom:20px;
}
.contact-details ul li i {
	float:left;
	padding:0;
	width:20px;
	height:20px;
	font-size:24px;
}
.contact-details ul li span{
	display:block;
	margin-left:40px;
	text-align:left;
}
/* ======
Contact form
------------*/

#contact_form{
	width: 100%;
	font-size: 11px;
	color: #666666;
	margin:50px auto;
}
#contact_form label input{
	display: block;
}
#contact_form input{
	border:2px solid #fff;
	outline: none;
	padding: 10px;
	float:left;
	width:49%;
	height: 45px;
	background: none;
	-webkit-appearance: none;
	font-size: 1.2em;
	font-weight:300;
	margin-bottom:20px;
	color:#fff;
	-webkit-font-smoothing: antialiased;
}
::-webkit-input-placeholder { 
    color: #fff; text-overflow: ellipsis; 
	text-transform: uppercase;
}
:-moz-placeholder { 
    color: #fff !important; text-overflow: ellipsis; 
	text-transform: uppercase;
}
::-moz-placeholder { 
    color: #fff !important; text-overflow: ellipsis; 
	text-transform: uppercase;
} 
:-ms-input-placeholder { 
    color: #fff !important; text-overflow: ellipsis;
	text-transform: uppercase; 
}
.right{
	float:right !important
}
#contact_form textarea{
	background: none;
	border:2px solid #fff;
	color: #fff;
	height:200px;
	width: 100%;
	resize: vertical;
	outline:none;
	margin-top:8px;
	padding:10px;
	-webkit-appearance: none;
	font-family: 'Open Sans', sans-serif;
}
#contact_form textarea:focus, #contact_form input:focus {
	color:#fff;
	text-transform: none;
	-webkit-transition: border 0.33s linear;
	-moz-transition: border 0.33s linear;
	-o-transition: border 0.33s linear;
	transition: border 0.33s linear;
}
.submit_btn {
	border: none;
	margin-top:20px;
	padding: 15px 25px 15px 25px;
	color: #fff;
	width:200px;
	float:left;
	cursor:pointer;
}
.success, .error{
	padding: 10px;
	font-size:16px;
	color:#fff;
	width:100%;
	position:relative;
	border-radius:4px;
}
.error{		
	color:red;
}

/* ====================
Footer 
--------------------------------------------------------------*/

#footer .content{
	background:#fff;
	padding:10px 0;
}
#footer p {
	font-size:14px;
}
.social-list{
	width:100%;
	margin-top:20px;
	padding-bottom:20px;
}
.social-list ul {
	position:relative;
	z-index:3;
}
.social-list ul li {
	margin-left:4px;
	display:inline-block;	
}
.social-list ul li a{
	float:left;
	border: 2px solid #ddd;
	color:#ccc;
	width:40px;
	height:40px;
	border-radius:100%;
	font-size:18px;
}
.social-list ul li i{
	margin-top:10px;
}
.to-top{
	font-size:24px;
}
.to-top i {
	cursor:pointer
}
.transition{
	-webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}

/* ====================
Single page 
--------------------------------------------------------------*/

#single-page-head{
	background-image:url(../images/bg/1.jpg);
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	color:#fff;	
}
#single-page-head .content{
	padding:190px 0;
}
#single-page{
	background:#fff;
	padding:90px 0;
}
#single-page .container p{
	font-size:1.0em;
	margin-bottom:20px;
}
.single-media{
	margin:20px auto;
	max-width:900px;
	position:relative;
}
.project-options{
	padding-bottom:10px;
	max-width:900px;
	margin:10px auto;
}
.share-options {
	overflow:hidden;
	padding-top: 20px;
}
.share-options h6 {
	float:left;
	margin-right:20px;
	margin-top:4px;
	font-size:13px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	text-transform:none;
}
.share-options a {
	font-size: 18px;
	color: #ccc;
	width: 24px;
	height: 24px;
	display: inline-block;
	float: left;
	margin-right: 10px;
	text-align: center;
	margin-bottom: 10px;
}
.single-portfolio-link{
	top:30px;
}
.single-category{
	margin:10px auto;
	text-align:center;
	font-size:14px;
	font-style:italic;
	color:#666;
	font-family: "Times New Roman", Times, serif; font-style: italic;
}
.gold-separator{
	width:150px;
	height:2px;
	margin:10px auto;
}
#prject-nav, #blog-nav{
	padding:50px 0;
	background:#F0F0F0;
}
.portfolio-nav , .blog-pagination{
	text-align: center;
	position:relative;	
	-webkit-backface-visibility: hidden;
	float:left;
	width: 100%;
	text-align: center;
	padding:0 0 12px 0;
}
.portfolio-nav a {
	line-height: 50px;
	display: inline-block;
	font-size: 38px;
	text-align: center;
	width:50px;
	height:50px;
	-webkit-backface-visibility: hidden;
	margin-left:10px;
	color:#666;
	opacity:0.8;	
}
.portfolio-nav a:hover{
	opacity:1;
}

/*-- Blog --*/

.post { 
	position:relative;
	text-align:left;
	margin-top:50px;
	padding:0px 0px 30px 70px;
	border-bottom:1px solid #ccc;
}
.post p{
	margin-left:-10px;
	font-size:0.9em !important}
.post-media{
	position:relative;
}
.post-media img {
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
}
.post .date {
	position: absolute;
	text-align: center;
	width: 40px;
	padding-bottom: 10px;
	top: 0;
	left: 0;
	text-transform: uppercase;
	font-size: 1.6em;
	letter-spacing: 0.2em;
	line-height: 0.8em;
}
.post .date small{
	font-size: 0.5833333333333333em;
}
.post-title h2{
	padding-top: 20px;
	padding-bottom:10px;
	text-transform: none;
	letter-spacing: normal;
	font-size:1.8em;
}
.post .quote .post-title h2, .post.link .post-title h2{
	font-size: 1em!important;
	text-transform: uppercase;
	letter-spacing: 0.20em;
	padding: 0;
}
.post-title h2{
	color:#292929;
}
.post-meta h6, .post-meta a {
	color: #a4a4a3!important;
}
/*-- Sidebar styles --*/

.widget {
	text-align: left;
	margin: 50px auto;
}
.widget h4{
	margin-bottom:10px;
}
.searh-holder{
	border: 1px solid #ccc;
	position:relative;
	height: 43px;
}
.search {
	border: none;
	float: left;
	outline: none;
	padding: 0px 0px 0px 10px;
	width: 100%;
	height: 40px;
	background: #fff;
	color: #aaaaaa;
	-webkit-appearance: none;
}
.search-submit {
	border: none;
	outline: none;
	cursor: pointer;
	position:absolute;
	background:#fff;
	top:0;
	right:0;
	width: 18%;
	height: 40px;
}
.search-submit:hover i {
	opacity:0.5;
}
.cat-item, .recentcomments {
	font-size: 0.8666666666667em;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}
.cat-item a, .recentcomments a { 
	color: #060606!important; 
	font-weight: 400; 
}
.tagcloud a {
	display: inline-block;
	margin-right: 10px;
	margin-bottom: 10px;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 5px 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	color:#666;
}
.widget-archive a, .widget-recent-entries a {
	color: #060606!important; 
	font-weight: 400;
	font-size: 0.8666666666667em;
	display: block;
	padding-bottom: 8px;
	margin-bottom: 15px;
	border-bottom: 1px solid #e9e9e9;
}
.blog-pagination a{
	line-height: 50px;
	display: inline-block;
	font-size: 28px;
	text-align: center;
	width:50px;
	height:50px;
	-webkit-backface-visibility: hidden;
	margin-left:10px;
	color:#666;
	opacity:0.8;
}
.blog-pagination a.cur-page, .blog-pagination a:hover{
	opacity:1;
}
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
	margin-bottom:20px;
}
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*-- Comments --*/

#comments-title{
	float:left;
	font-size:18px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	margin-top:50px;
}
#comments-title span{
	color:#666;
}
#comments-widget{
	background:#292929;
	padding:50px 0;
}
#comments-widget .grid-4{
	position:relative;
}
#comments-widget .grid-4:after {
	bottom:100%;
	margin-bottom:56px;
	left: 0;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
#comments-widget .grid-4:after {
	border-bottom-color: #292929;
	border-width: 36px;
	margin-left: 16px;
}
#comments{ 
	text-align:left; 
	padding-top: 50px;
}
#comments p {
	margin-left:-10px;
	text-align:left;
	font-size:0.9em !important;
	color:#fff;
}
.comment{ 
	float: left; 
}
.comment-body{ 
	position: relative; 
	margin-left: 70px; 
	padding-top: 30px; 
}
.comment-author{ 
	position: absolute; 
	top: 50px; 
	left: -70px;
}
.comment-author img{ 
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.comment .children{ 
	margin-left: 70px; 
}
#comments h4 a{
	display: block; 
	margin-bottom: 10px;
}
.comment-meta, .comment-meta a{
	color: #a4a4a3!important;
}
#respond{
	margin-left:70px;
	margin-top:50px;
}
#reply-title{
	width:100%;
	float:left;
	padding-bottom:30px;
	margin-bottom:5px;
	margin-top:30px;
	font-size:14px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
	text-transform:none;
}
.comment-reply-form{ 
	border-top: 2px solid #fff; 
}
.control-group label, .control-group .controls{ 
	display: inline-block; 
}
.control-group label{ 
	margin-left: 10px; 
	font-weight: 200;
	font-size:14px;
	font-family: "Times New Roman", Times, serif; font-style: italic;
}
.control-group .controls input { 
	margin-top: 15px;
	border: none;
	outline: none;
	height: 35px;
	background: none;
	padding-left: 15px;
	color: #fff;
	text-decoration: none;
	border: 2px solid #fff;

}
.control-group .controls textarea {
	margin-top: 15px;
	border: none;
	outline: none;
	height: 180px;
	max-width:600px;
	background: none;
	padding-left: 15px;
	padding-top: 15px;
	color: #fff;
	resize: vertical;
	text-decoration: none;
	border: 2px solid #fff;
}
.controls button {
	outline: none;
	-webkit-appearance: none;
	cursor: pointer;
	margin-top: 15px;
	font-size: 0.8em;
	text-transform: uppercase;
	font-family: inherit;
	padding: 12px 70px;
	color: #fff;
	border:none;
}


/* ====================
Media 
--------------------------------------------------------------*/


/* ====================
Tablet / netbooks 
--------------------------------------------------------------*/
@media only screen and  (max-width: 959px) {

.navigation{
	height: 100px;
}
.nav-button{
	display:block;
}
.inner{
	float:left;
	width:100%;
}
.link-holder {
	position:absolute;
	top:100px;
	left:0;
	width:100%;
	z-index:2;
	display:none;
	background:#212121;
	margin-left: 0px;
	margin-top: 0px;
}
.inner ul {
	margin:10px 0 0 0;
}
.inner ul li  {
	float:left;
	display:block;
	width:100% !important;
}
.inner ul li a {
	float:left;
	display:block;
	width:100% !important;
}
.logo{
	margin-top:-6px;
	margin-left:10px;
}

h1{
	font-size:2.6em
}
h2{
	font-size:2.0em
}
.ticker h2{
	font-size:34px;
}
.start{
	bottom:100px;
}
#single-page-head .content{
	margin-top:-20px;
}
.slides-big-img , #ticker-bg , #testimonials, #contacts, #single-page-head {
	background-attachment:scroll !important;
	-webkit-background-size:cover;
}
}

/* ====================
Tablet 
--------------------------------------------------------------*/

@media only screen and  (max-width: 740px) {
		
#jpreLoader{
	width:250px;
}
.contact-details div.grid-2{
	width:100%;
	border:none !important;
	margin:20px 0;
	clear:both;
}	
.contact-details span, .contact-details a {
	margin:20px 0;
}	
.box{
    width: 46.969696969697% !important;
    margin:  1.515151515152% !important;
}
#project-navigation{
	display:none;
}
.slides-navigation {
  top:100%;
}
#ticker-bg{
	padding:150px 0;
}
.control-group .controls textarea {
	padding-left: 0px;
}
#respond{
	margin-left:0;
}

}
/* ====================
Smartphone / small tablet 
--------------------------------------------------------------*/
@media only screen and  (max-width: 540px) {

.box{
    width: 96.969696969697% !important;
    margin:  1.315151515152% !important;
}
.blog-pagination a{
	line-height: 30px;
	font-size: 20px;
	width:30px;
	height:30px;
	margin-left:5px;
}
.row-services a {
	width:300px;
	padding:0 0;
}
#contact_form input{
	padding: 2px;
	float:left;
	width:100%;
}
.accordion .accordion-inner{
	padding:10px 0px 30px 10px;
}
}

/* ====================
Retina 
--------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	
.container p ,#contact_form label , .contact-details span, .footer p{
	font-size:1.1em;
	font-weight:400;	
}
.slides-big-img , #ticker-bg , #testimonials, #contacts, #single-page-head {
	background-attachment:scroll !important;
	-webkit-background-size:cover;
}
}